#homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    height: auto;
    margin-bottom: 50px;
}
#header{
    height: 100vh;
    max-height: 1200px;
    min-height: 660px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contactTitle{
    font-family: inter, sans-serif;
    margin: 40px 0px;
    font-size: 28px;
    font-weight: 600;
    
}

.section{
    max-width: 1980px;
    width: 100%;
    padding: 0px 5% 0px 5%;
}

.backgroundAbout{
    background-color: #0ABBB5;
    width: 100%;
    display: flex;
    justify-content: center;
}
.backgroundNavbar{
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.185);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
}
.backgroundSection{
    background-image: url(../images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 950px){
    #contact{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 490px){
    .section{
        padding: 3%;
    }
}