@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

#about {
    background-color: #0ABBB5;
    height: 100%;
    width: 100%;
    padding: 0px 5% 5% ;
}

.aboutBoxTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
}

.titleAbout {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    white-space: nowrap;
    margin: 0px 20px;
}

.line {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 50px;
}

.aboutSpace {
    height: 5rem;
}

.aboutSpaceTwo{
    height: 8rem;
}

.aboutContent {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.boxContentLeft {
    display: flex;

}

.boxContentRigth {
    display: flex;
    flex-direction: row-reverse;
}

.boxContentRigth .aboutContentRight{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 0px 5%;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgb(42, 41, 41);
    text-align: justify;
}

.aboutContentLeft {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutContentLeft img {
    border-radius: 50%;
    border: white 5px solid;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
}

.socialContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    margin-top: 10px; 
}



.lattes img, .linkedin img {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border: 2px solid white; 
}



.imgContainer{
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.aboutContentLeft p {
    font-size: 25px;
    color: white;
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    text-shadow: 2px 2px 4px rgb(42, 41, 41);
}
.textContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.redes{
    display: flex;
}

.aboutContentRigth {
    width: 100%;
    padding: 0px 5%;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgb(42, 41, 41);
    text-align: justify;

}


.aboutContentTwo {
    flex-direction: column;
    display: flex;
}

@media(max-width: 1100px){
    .boxContentRigth .aboutContentRight{
        color: white;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        padding: 0px 5%;
        font-size: 16px;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    }
    .aboutContentRigth {
        width: 100%;
        padding: 0px 5%;
        font-size: 16px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    
    }
    .aboutContentLeft p {
        font-size: 20px;
        color: white;
        font-family: 'Inter', sans-serif;
        padding-top: 20px;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    }
    .aboutContentLeft img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: white 5px solid;
    }

}
.lattes img{
    height: 5vh;
    width: 5vh;
    
}
.linkedin img{
    height: 5vh;
    width: 5vh;
    

}

@media(max-width: 900px){
    .boxContentRigth .aboutContentRight{
        color: white;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        padding: 0px 5%;
        font-size: 14px;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    }
    .aboutContentRigth {
        width: 100%;
        padding: 0px 5%;
        font-size: 14px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    
    }
    .aboutContentLeft p {
        font-size: 14px;
        color: white;
        font-family: 'Inter', sans-serif;
        padding-top: 20px;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    }
    .aboutContentLeft img {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        border: white 5px solid;
    }

    .lattes img{
        height: 7vh;
        width: 7vh;
        
    }
    .linkedin img{
        height: 7vh;
        width: 7vh;
        
    
    }
}

@media(max-width: 768px){
    .boxContentRigth .aboutContentRight{
        color: white;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        padding: 0px 5%;
        font-size: 15px;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    }
    .aboutContentRigth {
        width: 100%;
        padding: 0px 5% ;
        font-size: 15px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    
    }
    
    .aboutContentLeft img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: white 5px solid;
    }
    .boxContentLeft {   
        flex-direction: column;
    }
    .aboutContentLeft{
        flex-direction: row;
        margin: 30px
    }

    .oi2{
        margin-left: 40px;
    }

    .textContainer{
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lattes img{
        height: 8vh;
        width: 8vh;
        
    }
    .linkedin img{
        height: 8vh;
        width: 8vh;
        
    
    }
    

    .aboutContentLeft p {
        font-size: 20px;
        color: white;
        font-family: 'Inter', sans-serif;
        padding-top: 20px;
        text-shadow: 2px 2px 4px rgb(42, 41, 41);
    }
    .boxContentRigth{
        flex-direction: column;
    }

    .boxContentRigth .aboutContentLeft {
        flex-direction: row-reverse;
    }
    .boxContentRigth .aboutContentLeft p{
        
        flex-direction: row-reverse;
        margin-right: 50px;
        flex-wrap: nowrap;
    }

    @media(max-width: 690px){
        .boxContentRigth .aboutContentRight{
            color: white;
            font-family: 'Poppins', sans-serif;
            width: 100%;
            padding: 0px 5%;
            font-size: 14.5px;
            text-shadow: 2px 2px 4px rgb(42, 41, 41);
        }
        .aboutContentRigth {
            width: 100%;
            padding: 0px 5% ;
            font-size: 14.5px;
            color: white;
            font-family: 'Poppins', sans-serif;
            text-shadow: 2px 2px 4px rgb(42, 41, 41);
        
        }
        
        .aboutContentLeft img {
            height: 180px;
            width: 180px;
            border-radius: 50%;
            border: white 5px solid;
        }
        
        
        
        .aboutContentLeft p {
            font-size: 16px;
            color: white;
            font-family: 'Inter', sans-serif;
            padding-top: 20px;
            text-shadow: 2px 2px 4px rgb(42, 41, 41);
            white-space: nowrap;
        }
        
        .linkedin, .lattes {
            margin-right: 10px;
            margin-top: 10px;
            
        }
        .lattes img{
            height: 7vh;
            width: 7vh;
            
        }
        .linkedin img{
            height: 7vh;
            width: 7vh;
            
        }
    
    }

    @media(max-width: 503px){
        .aboutContentLeft img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: white 5px solid;
        }
        .aboutContentLeft p {
            font-size: 14px;
            color: white;
            font-family: 'Inter', sans-serif;
            padding-top: 20px;
            text-shadow: 2px 2px 4px rgb(42, 41, 41);
            white-space: nowrap;
        }
        .boxContentRigth .aboutContentRight{
            color: white;
            font-family: 'Poppins', sans-serif;
            width: 100%;
            padding: 0px 5%;
            font-size: 12px;
            text-shadow: 2px 2px 4px rgb(42, 41, 41);
        }
        .aboutContentRigth {
            width: 100%;
            padding: 0px 5% ;
            font-size: 12px;
            color: white;
            font-family: 'Poppins', sans-serif;
            text-shadow: 2px 2px 4px rgb(42, 41, 41);
        
        }

        

        .socialContainer{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }

        .linkedin, .lattes {
            margin-right: 10px;
            margin-top: 10px;
            
        }
        .lattes img{
            height: 7vh;
            width: 7vh;
            
        }
        .linkedin img{
            height: 7vh;
            width: 7vh;
            
        }
    }

    @media(max-width: 450px){
        
        .aboutContentLeft{
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
        }
        .oi{
            margin-right: 45px;
        }
        .aboutSpaceTwo{
            height: 4rem;
        }

        .boxContentRigth .aboutContentRight{
            color: white;
            font-family: 'Poppins', sans-serif;
            width: 100%;
            padding: 0px 5%;
            font-size: 14.5px;
            text-shadow: 2px 2px 4px rgb(42, 41, 41);
        }
        .aboutContentRigth {
            width: 100%;
            padding: 0px 5% ;
            font-size: 14.5px;
            color: white;
            font-family: 'Poppins', sans-serif;
            text-shadow: 2px 2px 4px rgb(42, 41, 41);
        
        }

        .aboutContentLeft img {
            height: 160px;
            width: 160px;
            border-radius: 50%;
            border: white 5px solid;
        }

        .textContainer .oi2{
            margin-left: 10px;
        }

        .socialContainer{
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-right: 25px;
        }

        .linkedin, .lattes {
            margin-right: 10px;
            margin-top: 10px;
            
        }
        .lattes img{
            height: 7vh;
            width: 7vh;
            
        }
        .linkedin img{
            height: 7vh;
            width: 7vh;
            
        }
    }
}