@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

#aboutContainer {
    height: 100%;
    width: 100%;
    padding: 0px 0px 5% ;
}

.aboutBoxTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
}

.titleAbout {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    white-space: nowrap;
    margin: 0px 70px;
}

.line {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 50px;
}

.aboutSpace {
    height: 5rem;
}

.aboutSpaceTwo{
    height: 8rem;
}

.aboutContent {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.boxContentLeft {
    display: flex;}

.boxContentRigth {
    display: flex;
    flex-direction: row-reverse;
}

.boxContentRigth .aboutContentRight{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 0px 5%;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgb(42, 41, 41);}

.aboutContentLeft {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutContentLeft img {
    height: 25rem;
    border-radius: 50%;
    border: white 5px solid;
}

.imgContainer{
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContentLeft p {
    font-size: 25px;
    color: white;
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    text-shadow: 2px 2px 4px rgb(42, 41, 41);
}


.aboutContentRigth {
    width: 100%;
    padding: 0px 5%;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgb(42, 41, 41);

}


.aboutContentTwo {
    flex-direction: column;
    display: flex;
}