
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

#about{
    background-color: #0ABBB5;
    height: 100vh;
    width: 100%;
    padding: 0px 5%;
}
.aboutBoxTitle{
    border: solid 2px red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleAbout{
    color: white;
    font-family: 'Inter', sans-serif;

}

.lineOne{
    height: 2px;
    width: 300px;
    background-color: white;
    margin-right: 3%;
    
}

.lineTwo{
    height: 2px;
    width: 300px;
    background-color: white;
    margin-left: 3%;
}


.aboutSpace{
    height: 10%;
}

.aboutContent{
    border: 2px solid black;
    justify-content: space-between;
    display: flex;
}

.aboutContentLeft{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.aboutContentLeft img{
    height: 25rem;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: white 2px solid;
}

.aboutContentLeft p{
    font-size: 35px;
    color: white;
}


.aboutContentRigth{
    border: 2px solid purple;
    width: 60%;
    padding: 0px 5%;
    font-size: 30px;
}


