@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,500;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@1,100&display=swap');

.ourServiceTag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.ourServiceTitle {
    font-family: inter, sans-serif;
    text-align: center;
}

.ourServiceImgBg {
    background-color: rgba(10, 187, 181, 0.20);
    width: 125px;
    height: 125px;
    min-height: 125px;
    min-width: 125px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourServiceContentBox {
    height: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ourServiceTagContainer {
    display: flex;
    padding: 100px 60px;
    align-items: center;
    justify-content: center;
}

.tagTwoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ourServiceContentTitle {
    white-space: nowrap;
    font-family: inter, sans-serif;
}

.ourServiceIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourServiceImg {
    width: 75%;
}

.ourServiceContent {
    margin: 0;
    font-family: poppins, sans-serif;
    opacity: 60%;
    font-weight: 400;
    font-size: 13px;
}

@media(max-width: 1485px) {
    .tagTwoBox {
        gap: 40px;
    }
    .ourServiceTag{
        padding: 0px 20px;
    }

}

@media(max-width: 1172px) {
    .tagTwoBox {
        padding: 0;
    }
    
    .ourServiceTag {
        flex-direction: column;
        padding: 0;
    }

}

@media(max-width: 940px) {

    .ourServiceTagContainer {
        font-size: 14px;
    }

    .tagTwoBox {
        gap: 40px;
        height: 500px;
        
    }
    .ourServiceContent{
        font-size: 12px;
    }
}

@media(max-width: 800px) {
    .ourServiceTagContainer{
        padding: 30px 0;
    }
    .tagTwoBox {
        padding: 0;
        height: 550px;
        justify-content: center;
        min-width: 50%;
    }
}

@media(max-width: 675px) {
    .ourServiceTagContainer {
        font-size: 14px;
        gap: 20px;
    }

    .ourServiceContentTitle {
        font-size: 14px;
    }

}

@media(max-width: 590px) {
    .ourServiceTagContainer {
        font-size: 14px;
    }
    .ourServiceTag{
        gap: 0;
        height: 300px;
    }
    .ourServiceContentTitle {
        font-size: 14px;
        padding: 10px 0px 0px 0px;
    }

    .ourServiceImgBg {
        width: 100px;
        height: 100px;
        min-height: 100px;
        min-width: 100px;
    }
    .ourServiceContentTitle{
        white-space: normal;
    }

    .ourServiceContent{
        font-size: 11px;
    }
}