#contactIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descImgContainer{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.descImg{
    margin-top: 4px;
    cursor: pointer;
}
.iconText{
    white-space: nowrap;
}
.contactTwoIconsBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}