#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navLinksUl{
    display: flex;
    gap: 20px;
}

.navLinksLi{
    list-style: none;
}

.navLinksLi{
    list-style: none;
}

.navLinksUl a li{
    color: #878685;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    
}

